<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ui.home.HomePreviewActivity"
            android:exported="true"
            android:label="Home Preview"
            android:theme="@style/Theme.CodexMeter" />
        <activity
            android:name=".ui.spike.MotionPreviewActivity"
            android:exported="true"
            android:label="Motion Preview"
            android:theme="@style/Theme.CodexMeter" />
        <activity
            android:name=".widget.WidgetPreviewActivity"
            android:exported="true"
            android:label="Widget Preview"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
